.projects:hover .project:not(:hover) {
    opacity: 0.5;
    filter: blur(3px);
}

.projects {
    animation: rotateAnimation 3s infinite ease-in-out;
}

/* 
@keyframes rotateAnimation {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(135deg);
    }

    50% {
        transform: rotate(225deg);
    }

    75% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(45deg);
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a,
.b,
.c,
.d {
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.a {
    top: 10%;
    left: 42%;
    animation-name: aa;
}

@media (max-width: 500px) {
    .a {
        top: 14%;
        left: 42%;
        animation-name: none;
    }

    @keyframes aa {
        0% {
            top: 14%;
            left: 42%;
        }

        25% {
            top: 27%;
            left: 25%;
        }

        50% {
            top: 40%;
            left: 42%;
        }

        75% {
            top: 27%;
            left: 58%;
        }

        100% {
            top: 14%;
            left: 42%;
        }
    }
}

.b {
    top: 27%;
    left: 31%;
    animation-name: ba;
}

@media (max-width: 500px) {
    .b {
        top: 27%;
        left: 25%;
        animation-name: none;
    }

    @keyframes ba {
        0% {
            top: 27%;
            left: 25%;
        }

        25% {
            top: 40%;
            left: 42%;
        }

        50% {
            top: 27%;
            left: 58%;
        }

        75% {
            top: 14%;
            left: 42%;
        }

        100% {
            top: 27%;
            left: 25%;
        }
    }

}

.c {
    top: 44%;
    left: 42%;
    animation-name: ca;
}

@media (max-width: 500px) {
    .c {
        top: 40%;
        left: 42%;
        animation-name: none;
    }

    @keyframes ca {
        0% {
            top: 27%;
            left: 58%;
        }

        25% {
            top: 14%;
            left: 42%;
        }

        50% {
            top: 27%;
            left: 25%;
        }

        75% {
            top: 40%;
            left: 42%;
        }

        100% {
            top: 27%;
            left: 58%;
        }
    }

}

.d {
    top: 27%;
    left: 53%;
    animation-name: da;
}

@media (max-width: 500px) {
    .d {
        top: 27%;
        left: 58%;
        animation-name: none;
    }

    @keyframes da {
        0% {
            top: 40%;
            left: 42%;
        }

        25% {
            top: 27%;
            left: 58%;
        }

        50% {
            top: 14%;
            left: 42%;
        }

        75% {
            top: 27%;
            left: 25%;
        }

        100% {
            top: 40%;
            left: 42%;
        }
    }
}

@keyframes aa {
    0% {
        top: 10%;
        left: 42%;
    }

    25% {
        top: 27%;
        left: 31%;
    }

    50% {
        top: 44%;
        left: 42%;
    }

    75% {
        top: 27%;
        left: 53%;
    }

    100% {
        top: 10%;
        left: 42%;
    }
}

@keyframes ba {
    0% {
        top: 27%;
        left: 31%;
    }

    25% {
        top: 44%;
        left: 42%;
    }

    50% {
        top: 27%;
        left: 53%;
    }

    75% {
        top: 10%;
        left: 42%;
    }

    100% {
        top: 27%;
        left: 31%;
    }
}

@keyframes ca {
    0% {
        top: 27%;
        left: 53%;
    }

    25% {
        top: 10%;
        left: 42%;
    }

    50% {
        top: 27%;
        left: 31%;
    }

    75% {
        top: 44%;
        left: 42%;
    }

    100% {
        top: 27%;
        left: 53%;
    }
}

@keyframes da {
    0% {
        top: 44%;
        left: 42%;
    }

    25% {
        top: 27%;
        left: 53%;
    }

    50% {
        top: 10%;
        left: 42%;
    }

    75% {
        top: 27%;
        left: 31%;
    }

    100% {
        top: 44%;
        left: 42%;
    }
}