.projects:hover .project:not(:hover) {
    opacity: 0.5;
    filter: blur(3px);
}

.projects {
    animation: rotateAnimation 3s infinite ease-in-out;
}

/* 
@keyframes rotateAnimation {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(135deg);
    }

    50% {
        transform: rotate(225deg);
    }

    75% {
        transform: rotate(315deg);
    }

    100% {
        transform: rotate(45deg);
    }
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a,
.b,
.c,
.d {
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.a {
    top: 10%;
    left: 44%;
    transform: translateX(-50%);
    animation-name: aa;
}

@media (max-width: 500px) {
    .a {
        top: 14%;
        left: 41%;
        animation-name: none;
    }

}

.b {
    top: 27%;
    left: 33%;
    animation-name: ba;
}

@media (max-width: 500px) {
    .b {
        top: 27%;
        left: 25%;
        animation-name: none;
    }

    

}

.c {
    top: 44%;
    left: 44%;
    animation-name: ca;
}

@media (max-width: 500px) {
    .c {
        top: 40%;
        left: 41%;
        animation-name: none;
    }

   

}

.d {
    top: 27%;
    left: 55%;
    animation-name: da;
}

@media (max-width: 500px) {
    .d {
        top: 27%;
        left: 57%;
        animation-name: none;
    }
}

@keyframes aa {
    0% {
        top: 10%;
        left: 44%;
    }

    25% {
        top: 27%;
        left: 33%;
    }

    50% {
        top: 44%;
        left: 44%;
    }

    75% {
        top: 27%;
        left: 55%;
    }

    100% {
        top: 10%;
        left: 44%;
    }
}

@keyframes ba {
    0% {
        top: 27%;
        left: 33%;
    }

    25% {
        top: 44%;
        left: 44%;
    }

    50% {
        top: 27%;
        left: 55%;
    }

    75% {
        top: 10%;
        left: 44%;
    }

    100% {
        top: 27%;
        left: 33%;
    }
}

@keyframes ca {
    0% {
        top: 27%;
        left: 55%;
    }

    25% {
        top: 10%;
        left: 44%;
    }

    50% {
        top: 27%;
        left: 33%;
    }

    75% {
        top: 44%;
        left: 44%;
    }

    100% {
        top: 27%;
        left: 55%;
    }
}

@keyframes da {
    0% {
        top: 44%;
        left: 44%;
    }

    25% {
        top: 27%;
        left: 55%;
    }

    50% {
        top: 10%;
        left: 44%;
    }

    75% {
        top: 27%;
        left: 33%;
    }

    100% {
        top: 44%;
        left: 44%;
    }
}